body {
	line-height: 1;
}

/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5; 
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
}

th {
  text-align: left;
  background-color: #e0e0e0;
  padding: 8px
}

td {
  text-align: left;
  background-color: #f0f0f0;
  padding: 8px
}
